<ul class="unstyled app-nav-list">
  <li class="<%= nav_selected_class('/base-css') %>">
    <a href="./base-css">Base CSS</a>
  </li>
  <li class="<%= nav_selected_class('/components') %>">
    <a href="./components">Components</a>
  </li>
</ul>
