<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Base · Custom Bootstrap</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

    <link href="<%= asset_path("icing.css") %>" rel="stylesheet">
  </head>

  <body>
    <div class='v-navbar-fixed-left'>
      <ul class='unstyled custom-container'>
        <li>
          <a href='https://tent.is'><div class='nav-icon app-icon-tentstatus icon-2x'></div></a>
        </li>

        <li>
          <a href="https://app.tent.is/search" title='Search'><div class='nav-icon app-icon-search icon-2x'></div></a>
        </li>

        <li>
          <a href='https://app.tent.is/global' title='Site Feed'><div class='nav-icon app-icon-sitefeed icon-2x'></div></a>
        </li>

        <li class='nav-selected'>
          <a href='https://app.tent.is/admin' title='Admin'><div class='nav-icon app-icon-settings icon-2x'></div></a>
        </li>

        <li>
          <a href='https://app.tent.is/signout' title='Signout'><div class='nav-icon app-icon-signout icon-2x'></div></a>
        </li>
      </ul>
    </div>

    <div id='main-nav'>
      <%= erb :nav %>
    </div>

    <div id='main-container' class='container'>
      <div id='main' class='pull-left'>
        <%= yield if block_given? %>
      </div>
    </div>
  </body>
</html>
